version: '3.8'
services:
  postgres:
    image: postgres:14
    container_name: keycloak_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: Asia/BangKok           # ✅ Đặt timezone hệ thống container
      PGTZ: Asia/BangKok         # ✅ Đặt timezone cho PostgreSQL
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    networks:
      - plant-growth-net

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2   # phiên bản ổn định
    container_name: keycloak_server
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL_HOST=postgres
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - KC_HOSTNAME=localhost
    command:
      - start-dev
      - --import-realm
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    volumes:
      - ./keycloak-init/:/opt/keycloak/data/import/
    networks:
      - plant-growth-net

volumes:
  postgres_data:

networks:
  plant-growth-net:
    driver: bridge
