version: '3.8'
services:
  postgres:
    image: postgres:14
    container_name: keycloak_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: Asia/BangKok           # ✅ Đặt timezone hệ thống container
      PGTZ: Asia/BangKok         # ✅ Đặt timezone cho PostgreSQL
    ports:
      - "5432:5432"
    volumes:
      # Moved DB initialization to Flyway migrations. Keep persistent data volume only.
      - postgres_data:/var/lib/postgresql/data
    networks:
      - plant-growth-net

  keycloak:
    image: ids-keycloak   # phiên bản ổn định
    container_name: keycloak_server
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL_HOST=postgres
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - KC_HOSTNAME=localhost
    command:
      - start-dev
      - --import-realm
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    volumes:
      - ./keycloak-init/realm/:/opt/keycloak/data/import/
    networks:
      - plant-growth-net
  
  keycloak-importer:
    image: alpine:3.20
    container_name: keycloak_importer
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - REALM=plant-growth
      - KEYCLOAK_URL=http://keycloak:8080
    depends_on:
      - keycloak
    volumes:
      - ./keycloak-init/:/opt/keycloak/data/import/
    entrypoint: >
      /bin/sh -c "
        apk add --no-cache curl jq;
        chmod +x /opt/keycloak/data/import/import-keycloak-api.sh;
        /opt/keycloak/data/import/import-keycloak-api.sh
      "
    networks:
      - plant-growth-net

  flyway:
    image: flyway/flyway:9
    container_name: flyway
    entrypoint: [ "bash" ]
    environment:
      - FLYWAY_CONNECT_RETRIES=10
      - FLYWAY_BASELINE_VERSION=0
    command: >
      -c "
        /flyway/flyway -configFiles=/flyway/keycloak/conf/flyway-ddl.conf -user=keycloak -password=keycloak -baselineOnMigrate="true" migrate;
        /flyway/flyway -configFiles=/flyway/keycloak/conf/flyway-master-data.conf -user=keycloak -password=keycloak -baselineOnMigrate="true" migrate;
        /flyway/flyway -configFiles=/flyway/keycloak/conf/flyway-test-data.conf -user=keycloak -password=keycloak -baselineOnMigrate="true" migrate;
      "
    volumes:
      - ./flyway-migration-files/keycloak:/flyway/keycloak:ro
    depends_on:
      - postgres
      - keycloak
    networks:
      - plant-growth-net

volumes:
  postgres_data:

networks:
  plant-growth-net:
    driver: bridge
